<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div>
    <label for="email">Email</label>

    <input type="email" formControlName="email">
    @if(form.controls.email.invalid && (form.controls.email.touched || form.controls.email.dirty)) {
      @if (form.controls.email.errors?.['required']) {
     <small>Email required</small>
      }

      @if (form.controls.email.errors?.['email']) {
        <small>Valid email required</small>
         }

         @if (form.controls.email.errors?.['forbidden']) {
          <small>Some test, demo not allowed in email</small>
           }
    }
  </div>

  <div>
    <label for="rolw">Role</label>
    <input type="text" formControlName="role">
  </div>
  <button>Submit</button>
</form>

<router-outlet />
